/* Container */
.container {
  width: 825px;
  margin: 0 auto;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

article {
  border: 5px solid black;
}
/* Product Name */
.product-title {
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.11);
  margin: 0 auto;
  padding: 15px;
}
/* Product Information */
.price-style {
  font-weight: 800;
  font-size: 20px;
  font-family: sans-serif;
  margin: 0 auto;
}

.shipping-style {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #777;
  margin: 0 auto;
  padding: 0;
}

.description-style {
  font-size: 14px;
}

.info-style:link,
.info-style:visited {
  font-size: 15px;
  color: black;
}

.info-style:hover,
.info-style:active {
  text-decoration: none;
}

/* Product Details */
.product-header-style {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
}

.list-item-style {
  font-size: 14px;
  color: black;
  list-style-type: square;
  margin-left: -22px;
}

/* Button */

.button-style {
  font-size: 17px;
  text-transform: uppercase;
  background-color: black;
  color: white;
  transition-duration: 0s;
  width: 100%;
  border-top: 6px solid black;
  margin: 0 auto;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  text-align: center;
}

.button-style:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}
